.swagger-ui .topbar {
    display: none;
} /* Oculta la barra superior de Swagger UI */

body {
    background-color: #1a202c !important;
    color: white !important;
} /* Ajusta el color de fondo y texto */

.swagger-ui .scheme-container {
    background-color: #2d3748 !important;
    color: white !important;
} /* Ajusta el color del esquema */

.swagger-ui .opblock-summary {
    background-color: #2d3748;
    color: white !important;
} /* Ajusta el color de los resúmenes de operaciones */

.swagger-ui .opblock-tag {
    background-color: #2d3748;
    color: white !important;
} /* Ajusta el color de las etiquetas de operaciones */

.swagger-ui .info .title {
    color: white !important;
} /* Ajusta el color del título */

.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table {
    color: white !important;
} /* Ajusta el color del texto */

.swagger-ui .opblock-tag {
    color: white !important;
} /* Ajusta el color de las etiquetas de operaciones */

.swagger-ui .opblock-tag small {
    color: white !important;
} /* Ajusta el color del texto de las etiquetas de operaciones */

.swagger-ui section.models h4 {
    color: white !important;
} /* Ajusta el color de los títulos de los modelos */

.swagger-ui section.models {
    border: 2px solid #2d3748 !important;
} /* Ajusta el color del borde de los modelos */

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
    color: white !important;
} /* Ajusta el color de los resúmenes de operaciones */

.swagger-ui .opblock .opblock-summary-description {
    color: white !important;
} /* Ajusta el color de las descripciones de los resúmenes de operaciones */

.swagger-ui section h3 {
    color: white !important;
} /* Ajusta el color de los títulos de las secciones */

.swagger-ui .authorization__btn svg {
    color: white !important;
} /* Ajusta el color de los botones de autorización */

.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p {
    color: white !important;
} /* Ajusta el color del texto */

.swagger-ui .tab li {
    color: white !important;
} /* Ajusta el color de las pestañas */

.swagger-ui table tr td,
.swagger-ui table tr th {
    color: white !important;
} /* Ajusta el color de los estados de respuesta */

.swagger-ui .opblock-body pre.microlight {
    background-color: #000 !important;
} /* Ajusta el color de fondo de los bloques de código */

.swagger-ui .parameter__name.required:after {
    color: #ff0000 !important;
    font-weight: bolder;
    font-size: 12px !important;
} /* Ajusta el color de los parámetros requeridos */

.swagger-ui .model-hint {
    color: white !important;
} /* Ajusta el color de las pistas de los modelos */

.swagger-ui .model-title {
    color: white !important;
} /* Ajusta el color de los títulos de los modelos */

.swagger-ui .model {
    color: white !important;
} /* Ajusta el color de los modelos */

.swagger-ui textarea {
    background-color: #000 !important;
    color: white !important;
} /* Ajusta el color de fondo de los campos de texto */

.swagger-ui .btn.cancel {
    background-color: #ff6060 !important;
    color: white !important;
} /* Ajusta el color del botón de cancelar */

.swagger-ui .btn.execute {
    background-color: #59c941 !important;
    color: white !important;
    border-color: #d2d6d7 !important;
} /* Ajusta el color del botón de ejecutar */

.swagger-ui .parameter_name,
.swagger-ui .parameter_type,
.swagger-ui .prop-format {
    color: white !important;
} /* Ajusta el color de los nombres de los parámetros */

.swagger-ui .opblock .opblock-section-header h4 {
    color: black !important;
} /* Ajusta el color de los títulos de las secciones */
